<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div formGroupName="userData">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div class="alert alert-danger" *ngIf="!myForm.controls['userData'].controls['name'].valid">
          Required
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" class="form-control" id="email" formControlName="email">
        <div class="alert alert-danger" *ngIf="!myForm.controls['userData'].controls['email'].valid">
          Required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="post">Post</label>
      <textarea type="text" class="form-control" id="post" formControlName="post" minlength="10"></textarea>
      <div class="alert alert-danger" *ngIf="!myForm.controls['post'].valid">
        Minimun Length 10
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="getData()">Get Data</button>
  </form>
</div>